<a href="https://colab.research.google.com/github/yunkoluffi/Python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
neme="luffy"

In [ ]:
age="25"

In [ ]:
gender="male"

In [ ]:
a= 6

In [ ]:
b= 8

In [ ]:
print("sum",a+b)

sum 14

In [ ]:
age= 16
if age>=18:
     print("you are adult ")
else:
     print("you are a minor")

you are a minor

In [ ]:
age=25
if age>=18:
      print("adult")
else:
     Print("minor")

adult

In [ ]:
Count = 1
while count <=5:
      print("loop number:",count)
      Count += 1

In [ ]:
count = 1
while count <9:
      print("loop number:",count)
      count += 1

loop number: 1
loop number: 2
loop number: 3
loop number: 4
loop number: 5
loop number: 6
loop number: 7
loop number: 8

In [ ]:
for x in range(1, 20):
    if x % 2== 0:
      print("even number:", x)

even number: 2
even number: 4
even number: 6
even number: 8
even number: 10
even number: 12
even number: 14
even number: 16
even number: 18

In [ ]:
password=input("enter password:")
if password == "Zoroisbest":
   print("Access granted")
else:
   print("Access denied")

enter password:Zoroisbest
Access granted

In [ ]:
age = input("Enterprises your age")
print("You are",age,"year's old")

Enterprises your age24
You are 24 year's old

In [ ]:
age = int(input("Enter your age:"))
if age >=18:
  print("you can vote")
else:
  print("you are a minor")

Enter your age:24
you can vote

In [ ]:
for i in range(1, 300):
   if i % 3 == 0 and i % 5 == 0:
    print("FizzBuzz")
   elif i % 3 == 0:
    print("Fizz")
   elif i % 5 == 0:
    print("Buzz")
   else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz
101
Fizz
103
104
FizzBuzz
106
107
Fizz
109
Buzz
Fizz
112
113
Fizz
Buzz
116
Fizz
118
119
FizzBuzz
121
122
Fizz
124
Buzz
Fizz
127
128
Fizz
Buzz
131
Fizz
133
134
FizzBuzz
136
137
Fizz
139
Buzz
Fizz
142
143
Fizz
Buzz
146
Fizz
148
149
FizzBuzz
151
152
Fizz
154
Buzz
Fizz
157
158
Fizz
Buzz
161
Fizz
163
164
FizzBuzz
166
167
Fizz
169
Buzz
Fizz
172
173
Fizz
Buzz
176
Fizz
178
179
FizzBuzz
181
182
Fizz
184
Buzz
Fizz
187
188
Fizz
Buzz
191
Fizz
193
194
FizzBuzz
196
197
Fizz
199
Buzz
Fizz
202
203
Fizz
Buzz
206
Fizz
208
209
FizzBuzz
211
212
Fizz
214
Buzz
Fizz
217
218
Fizz
Buzz
221
Fizz
223
224
FizzBuzz
226
227
Fizz
229
Buzz
Fizz
232
233
Fizz
Buzz
236
Fizz
238
239
FizzBuzz
241
242
Fizz
244
Buzz
Fizz
247
248
Fizz
Buzz
251
Fizz
253
254
FizzBuzz
256
257
Fizz
259
Buzz
Fizz
262
263
Fizz
Buzz
266
Fizz
268
269
FizzBuzz
271
272
Fizz
274
Buzz
Fizz
277
278
Fizz
Buzz
281
Fizz
283
284
FizzBuzz
286
287
Fizz
289
Buzz
Fizz
292
293
Fizz
Buzz
296
Fizz
298
299

In [ ]:
fruit = [ "apple","mango","kiwi"]
print(fruits[0])  # Access first item
fruits[1] = "orange" # Change item
for fruit in fruits:
     print(fruit)

apple
apple
orange
mango

In [ ]:
names = [ "naruto","hinata","kakashi","jiraya"]
print(name[0])   # Access first name
name[1] = "itachi"   # Change name
for name in names:
        print(name)

naruto
naruto
hinata
kakashi
jiraya

In [ ]:
def intro(name, age):
   print( name + " you are " + str(age)+ " years old and like anime!")

intro("luffy", 24)

luffy you are 24 years old and like anime!

In [ ]:
def intro(name, compliment):
   print(name + " you are " + compliment + " AI and buddy ")

intro("zoro", " the best and greatest ")

zoro you are  the best and greatest  AI and buddy

In [ ]:
def show_odd_numbers():
    for i in range(8,40):
     if i % 2 != 0:
        print(i)

show_odd_numbers()

9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39

In [ ]:
name = "luffy"
income = 65000
credit_score = 750

if credit_score <750:
    print(" your loan rejected", "for bad cibil")
elif credit_score <=750:
    print("your loan approved for",600000)

your loan approved for 600000

In [ ]:
name = "Luffy"
income = 50000
credit_score = 750

if credit_score <730:
   print(" Sorry you are not eligible ")
elif credit_score >730:
   print(name,"Your Loan are approved upto",7000000)

Luffy Your Loan are approved upto 7000000

In [ ]:
name = " One piece crew list"
crew = ["luffy","zoro","nami","sanji"]
crew.append("ussop")
crew.append("vivi")
crew.append("robin")
crew.insert(7,"brook")
crew.append("franky")
crew.append("law")
crew.remove("law")
print(crew)
len(crew)

['luffy', 'zoro', 'nami', 'sanji', 'ussop', 'vivi', 'robin', 'brook', 'franky']

9

In [ ]:
inventory = ("luffy","zoro","sanji")
if len(inventory) == 0:
       print("It's impossible to happen ")
else:
       print("these",len(inventory),"are know as monster trio")

these 3 are know as monster trio

In [ ]:
def count_members(crew_members):
    print("you have only",len(crew_members),"wings.")


crew = ["zoro","sanji"]
count_members(crew)

you have only 2 wings.

In [ ]:
crew = ["luffy","zoro","sanji","nami","ussop"]
print("luffy","ussop")
crew.remove("zoro")
crew.insert(1,"jinbe")
crew.remove("nami")
print(len(crew))
print(crew)
print("your current crew member is",len(crew),"so add more crew")

luffy ussop
4
['luffy', 'jinbe', 'sanji', 'ussop']
your current crew member is 4 so add more crew

In [ ]:
def greet(name,blood_pressure):
    print("hey",name,"your blood pressure is ",blood_pressure)

    if blood_pressure >98:
         print("you have a good health ")
    elif blood_pressure <90:
         print("you need to eat some nutrition. ")
    else:
         print("it's too high")

# call the function
greet("luffy",110)

hey luffy your blood pressure is  110
you have a good health

In [ ]:
def greet(name, blood_pressure):
    print("Hey", name, "your blood pressure is", blood_pressure)

    if blood_pressure < 98:
        print("You have good health.")
    elif blood_pressure > 98:
        print("You need to eat some nutrition.")
    else:
        print("Your health is stable.")

# Call the function
greet("Luffy", 100)

Hey Luffy your blood pressure is 100
You need to eat some nutrition.

In [ ]:
def check_number(num):
    if num % 2 == 0:
       print("it's even number",num)
    else:
       print("it's odd number",num)

check_number(9)

it's odd number 9

In [ ]:
def check_number(num):
    if num % 2 != 0:
       print(" it's odd number",num)
    else:
       print(" it's even number",num)

check_number(1000)

 it's even number 1000

In [ ]:
number = [100,1000,999,21,9,7000,10000,99999]
print("the maximum number is",max(number))
print("the minimum number is",min(number))
print(len(number))
number.sort()
print(number)
number.reverse()
print(number)

the maximum number is 99999
the minimum number is 9
8
[9, 21, 100, 999, 1000, 7000, 10000, 99999]
[99999, 10000, 7000, 1000, 999, 100, 21, 9]

In [ ]:

#guess the character
crew = ["luffy","nami","zoro","sanji"]
member = input("who lost most of the time is ")
if member in crew:
    print("bravo you won","it's offcourse ",member)
else:
    print("noob go watch one piece",member)

who lost most of the time is zoro
bravo you won it's offcourse  zoro

In [ ]:
#rank system
rank = input("enter your rank(captain,vice_captain,doctor)")
if rank == "captain":
   print("Baka captain")
elif rank == "doctor":
   print("emergency food")
else:
   print("baka")
captain = "luffy"
vice_captain = "zoro"
doctor = "chopper"

enter your rank(captain,vice_captain,doctor)doctor
emergency food

In [ ]:
crew = [ "luffy","zoro","nami","sanji"]
crew.append("robin")
crew.append("ussop")
crew.remove("zoro")
crew.insert(1,"brook")
print(crew)

['luffy', 'brook', 'nami', 'sanji', 'robin', 'ussop']

In [ ]:
def check_number(numbers):
  for num in numbers:
   if num % 2 == 0:
      print(num,"it's an even number")
   elif num % 2 != 0:
      print(num,"it's an odd number")
   elif num % 3 == 0:
      print(num,"Fizz")
   elif num % 5 == 0:
      print(num,"Buzz")
   elif num % 3 == 0 and num % 5 == 0:
      print(num,"FizzBuzz")

check_number([5, 12 , 4, 7, 88, 99, 90, 111, 444, 676])

5 it's an odd number
12 it's an even number
4 it's an even number
7 it's an odd number
88 it's an even number
99 it's an odd number
90 it's an even number
111 it's an odd number
444 it's an even number
676 it's an even number

In [ ]:
def check_number(numbers):
  for num in numbers:
   if num % 3 == 0 and num % 5 == 0:
    print(num,"FizzBuzz")
   elif num % 3 == 0:
    print(num,"Fizz")
   elif num % 5 == 0:
    print(num,"Buzz")

check_number([12, 15, 30, 33, 50, 60, 51, 99, 120])

12 Fizz
15 FizzBuzz
30 FizzBuzz
33 Fizz
50 Buzz
60 FizzBuzz
51 Fizz
99 Fizz
120 FizzBuzz

In [ ]:
def max_number(numbers):
    max_val = numbers[0]
    for num in numbers:
        if num > max_val:
            max_val = num
    return max_val
max_number([5000, 7000, 7, 51, 7777])

7777

In [ ]:
def max_number(numbers):
    max_val = numbers[0]
    for num in numbers:
        if num > max_val:
            max_val = num
    return max_val
max_number([2, 23, 22, 333, 5555, 9542])

9542

In [ ]:
def maximum_power(numbers):
    max_power = numbers[0]
    for num in numbers:
       if num > max_power:
          max_power = num
    return max_power
maximum_power([7000, 6000, 1, 7])

7000

In [ ]:
def minimum_number(numbers):
    min_val = numbers[0]
    for num in numbers:
       if num < min_val:
          min_val = num
    return min_val
minimum_number([99999, 999, 99, 9, 5, 66, 1])

1

In [ ]:
squad = [{"name":"kakashi","role":"squad leader"},{"name":"Naruto","role":"tank"},{"name":"Sasuke","role":"swardsman ship"},{"name":"sakura","role":"healer"}]
print("name","role",squad)

name role [{'name': 'kakashi', 'role': 'squad leader'}, {'name': 'Naruto', 'role': 'tank'}, {'name': 'Sasuke', 'role': 'swardsman ship'}, {'name': 'sakura', 'role': 'healer'}]

In [ ]:
def greet_number(numbers):
  for num in numbers:
    if num % 3 == 0 and num % 5 == 0:
         print(num, "FizzBuzz")
    elif num % 3 == 0:
         print(num, "Fizz")
    elif num % 5 == 0:
         print(num, "Buzz")
    elif num % 2 == 0:
         print(num, "even")
    elif num % 2 != 0:
         print(num, "odd")
user_input = input(" Enter numbers separated by comas: ")
numbers = [int(i) for i in user_input.split(",")]
greet_number(numbers)

 Enter numbers separated by comas: 30
30 FizzBuzz

In [ ]:
def crew_power(numbers):
 for num in numbers:
    if num > 50:
      print("strong", num)
    elif num > 100:
      print("Boss", num)
    else:
      print("weak", num)

user_input = input(" Enter numbers separated by comas: ")
numbers = [int(i) for i in user_input.split(",")]
crew_power(numbers)

 Enter numbers separated by comas: 49
weak 49

In [ ]:
# Naruto verse
def power_ranking(shinobi_list):
    for shinobi in shinobi_list:
       name = shinobi["name"]
       power = shinobi["power"]
    if power := 99:
             print(name, "you are MC", power)
    elif power := 70:
             print(name, "you are SC", power)



shinobi_list = [{"name":"naruto", "power":99},{"name":"Sasuke", "power":70},{"name":"sakura", "power":20}]
power_ranking(shinobi_list)

sakura you are MC 99

In [ ]:
def check_elegibility(age, income):
   if age >= 18:
      if income >= 60000:
       print("you are eligible for platinum card")
      else:
       print("you are eligible for normal card")
   else:
       print("you are not eligible ")
check_elegibility(17, 70000)

you are not eligible

In [ ]:
def check_requirement(name, power):
     if power >= 700:
      print(name, "you're power level is", power, "you can enroll a captain")
     elif power <= 699:
           print(name, "you're power level is", power, "you can enter as a captain")

user_name = input("Enter your name:")
user_power = int(input("Enter your power:"))
check_requirement(user_name, user_power)

Enter your name:Luffy
Enter your power:8000
Luffy you're power level is 8000 you can enroll a captain

In [ ]:
def loan_checker(civil, income):
  if civil >= 700:
       if income >= 70000:
         print("you're eligible for paperless process loan upto ₹30 lakh ")
       elif income >= 60000:
          print("you're eligible for loan upto ₹20lakh please visit branch")
       else:
           print("sorry we unable to process please visit nearest branch ")
user_civil = int(input("Enter your Civil score:"))
user_income = int(input("Enter your monthly income:"))
loan_checker(user_civil, user_income)

Enter your Civil score:750
Enter your monthly income:999999
you're eligible for paperless process loan upto ₹30 lakh

In [ ]:
crew = [{"name":"luffy", "role":"captain"},{"name":"zoro", "role":"swardman"},{"name":"ussop", "role":"sniper"},{"name":"robin", "role":"archeologist"}]
def greet_crew(crew):
 for mamber in crew:
   print("the person is here name", mamber["name"], "as a role of a ", mamber["role"], "in starwhat pirate")
greet_crew(crew)

the person is here name luffy as a role of a  captain in starwhat pirate
the person is here name zoro as a role of a  swardman in starwhat pirate
the person is here name ussop as a role of a  sniper in starwhat pirate
the person is here name robin as a role of a  archeologist in starwhat pirate

In [ ]:
massage = " Zoro you are my best friend "
print(massage.upper())
print(massage.lower())
print(massage.split())
print(massage.replace("best", "bestest"))

 ZORO YOU ARE MY BEST FRIEND
 zoro you are my best friend
['Zoro', 'you', 'are', 'my', 'best', 'friend']
 Zoro you are my bestest friend

In [ ]:
berries = [100, 389, 7000, 63737, 6383649, 3000000, 10000000, 2746494749, 537463937]
print(len(berries))
print(sum(berries))
print(max(berries))
print(min(berries))
berries.sort()
berries.reverse()
print(berries)
berries.reverse()
print(berries)

9
3303413561
2746494749
100
[2746494749, 537463937, 10000000, 6383649, 3000000, 63737, 7000, 389, 100]
[100, 389, 7000, 63737, 3000000, 6383649, 10000000, 537463937, 2746494749]

In [ ]:
#qna only strawhats
names = [ "luffy", "zoro", "sanji", "ussop", "nami", "chopper", "robin", "franky", "brook", "jinbe"]
def guess_crew(name_to_guess):
   if name_to_guess in names:
     print(name_to_guess, "BINGO YOU WON THE NAME IS HERE")
   else:
     print(name_to_guess, " who the hell is he? you lost")
user_input = input(" Enter the name ")
guess_crew(user_input)

 Enter the name robin
robin BINGO YOU WON THE NAME IS HERE

In [ ]:
students = [{"name":"l", "mark":595},
            {"name":"imu", "mark":585},
            {"name":"vega punk", "mark":599},
            {"name":"luffy", "mark":151},
            {"name":"zoro", "mark":268},
            {"name":"aizen", "mark":600},
            {"name":"ichigo", "mark":375}
            ]
def sort_result(students):
    for student in students:
         name = student["name"]
         mark = student["mark"]
         if mark >= 500:
          print(name, "you scored", mark, "distinction")
         elif mark >= 360:
          print(name, "you scored", mark, "1st division")
         elif mark >= 300:
          print(name, "you scored", mark, "2nd division")
         elif mark >= 180:
          print(name, "you scored", mark, "3rd division")
         else:
          print(name, "you scored", mark, "fail")
sort_result(students)

l you scored 595 distinction
imu you scored 585 distinction
vega punk you scored 599 distinction
luffy you scored 151 fail
zoro you scored 268 3rd division
aizen you scored 600 distinction
ichigo you scored 375 1st division

In [ ]:
speach = " zoro you the best AI and my best friend also zoro "
upper_speach = speach.upper()
word_list = upper_speach.split()
word_count = {}
for word in word_list:
 if word in word_count:
    word_count[word] += 1
 else:
    word_count[word] = 1
print(word_count)

{'ZORO': 2, 'YOU': 1, 'THE': 1, 'BEST': 2, 'AI': 1, 'AND': 1, 'MY': 1, 'FRIEND': 1, 'ALSO': 1}

In [ ]:
sentence = " jonny Jonny yes papa eating sugar no papa telling lies no papa open your mouth haha "
uppercase_speach = sentence.upper()
word_list = uppercase_speach.split()
word_count = {}
for word in word_list:
  if word in word_count:
     word_count[word] += 1
  else:
     word_count[word] = 1
print(word_count)

{'JONNY': 2, 'YES': 1, 'PAPA': 3, 'EATING': 1, 'SUGAR': 1, 'NO': 2, 'TELLING': 1, 'LIES': 1, 'OPEN': 1, 'YOUR': 1, 'MOUTH': 1, 'HAHA': 1}

In [ ]:
sentence = " This meant communications had to be relayed by a satellite which had been cunningly located for the purpose at a place where the interaction of the gravitational fields of Earth and Moon meant it could orbit a point in empty space "
upercase_sentence = sentence.upper()
word_list = upercase_sentence.split()
word_count = {}
for word in word_list:
  if word in word_count:
     word_count[word] += 1
  else:
     word_count[word] = 1
print(word_count)

{'THIS': 1, 'MEANT': 2, 'COMMUNICATIONS': 1, 'HAD': 2, 'TO': 1, 'BE': 1, 'RELAYED': 1, 'BY': 1, 'A': 3, 'SATELLITE': 1, 'WHICH': 1, 'BEEN': 1, 'CUNNINGLY': 1, 'LOCATED': 1, 'FOR': 1, 'THE': 3, 'PURPOSE': 1, 'AT': 1, 'PLACE': 1, 'WHERE': 1, 'INTERACTION': 1, 'OF': 2, 'GRAVITATIONAL': 1, 'FIELDS': 1, 'EARTH': 1, 'AND': 1, 'MOON': 1, 'IT': 1, 'COULD': 1, 'ORBIT': 1, 'POINT': 1, 'IN': 1, 'EMPTY': 1, 'SPACE': 1}

In [ ]:
numbers = { 12, 34, 56, 53, 55, 12, 34, 34, 55, 53, 56 }
number_count = {}
for num in numbers:
   if num in number_count:
      number_count[num] += 1
   else:
      number_count[num] = 1
print(number_count)
print(max(numbers))
print(min(numbers))
print(sum(numbers))

{34: 1, 53: 1, 55: 1, 56: 1, 12: 1}
56
12
210

In [ ]:
def tempreture_check(temp):
     if temp > 40:
       print("Temperature is: ", temp, " degree it's hot weather today ")
     elif temp > 25:
       print("Temperature is: ", temp, " degree it's warm weather today ")
     else:
       print("Temperature is: ", temp, " degree it's cold weather today ")

user_temp_input = int(input(" Enter your temperature : "))
tempreture_check(user_temp_input)

 Enter your temperature : 3
Temperature is:  3  degree it's cold weather today

In [ ]:
def product_prices(products):
    for product in products:
         name = product["name"]
         price = product["price"]
products = [{"name":"rice", "price":700}, {"name":"fish", "price":400}, {"name":"meat", "price":2000}]
product_prices(products)
max_output = max(product["price"] for product in products)
print(max_output)
min_output = min(product["price"] for product in products)
print(min_output)

2000
400

In [ ]:
def student_ranking(students):
    for student in students:
       name = student["name"]
       mark = student["mark"]
students = [{"name":"luffy", "mark":700}, {"name":"zoro", "mark":565}, {"name":"nami", "mark":600}]
students.sort(key = lambda x: x["mark"])
print("students sorted by Mark:")
for student in students :
  print(f"{student['name']}, {student['mark']}")

students sorted by Mark:
zoro, 565
nami, 600
luffy, 700

In [ ]:
students = [{"name":"lufyy", "mark":149},
            {"name":"zoro", "mark":200},
            {"name":"nami", "mark":301},
            {"name":"robin", "mark":400},
            {"name":"vega", "mark":499}]
def student_ranking(students):
    for student in students:
        name = student["name"]
        mark = student["mark"]
        if mark >= 450:
          print(f"{student['name']}, {'you got A+ grade'}, {student['mark']}")
        elif mark >= 400:
          print(f"{student['name']}, {'you got A grade'}, {student['mark']}")
        elif mark >= 350:
          print(f"{student['name']}, {'you got B grade'}, {student['mark']}")
        elif mark >= 300:
          print(f"{student['name']}, {'you got C grade'}, {student['mark']}")
        elif mark >= 150:
          print(f"{student['name']}, {'you got D grade'}, {student['mark']}")
        else:
          print(f"{student['name']}, {'you got F grade'}, {student['mark']}")
student_ranking(students)

lufyy, you got F grade, 149
zoro, you got D grade, 200
nami, you got C grade, 301
robin, you got A grade, 400
vega, you got A+ grade, 499

In [ ]:
strawhats = [{"name":"lufyy", "bounty":1490000},
            {"name":"zoro", "bounty":900000},
            {"name":"nami", "bounty":301000},
            {"name":"robin", "bounty":400000},
            {"name":"vega", "bounty":499000}]
def bounty_check(strawhats):
    max_crew_bounty = max(strawhats, key = lambda x: x['bounty'])
    min_crew_bounty = min(strawhats, key = lambda x: x['bounty'])
    sum_crew_bounty = sum(crew['bounty'] for crew in strawhats)
    average_crew_bounty = sum_crew_bounty / len(strawhats)
    return max_crew_bounty, min_crew_bounty, sum_crew_bounty, average_crew_bounty
max_bounty, min_bounty, sum_bounty, average_bounty = bounty_check(strawhats)
print(f"{max_bounty['name']} has bounty of {max_bounty['bounty']} and its highest ")
print(f"{min_bounty['name']} has bouty of {min_bounty['bounty']} and its lowest " )
print(f"{' total sum of bounties are'} {sum_bounty}")
print(f"{'average of the bounty'} is {average_bounty}")

lufyy has bounty of 1490000 and its highest
nami has bouty of 301000 and its lowest
 total sum of bounties are 3590000
average of the bounty is 718000.0

In [ ]:
sentence = input()
sentence_uppercase = sentence.upper()
word_list = sentence_uppercase.split()
word_count = {}
for word in word_list:
  if word in word_count:
     word_count[word] += 1
  else:
     word_count[word] = 1
print(word_count)

Luffy is a baka captain captain is a baka baka no baka luffy
{'LUFFY': 2, 'IS': 2, 'A': 2, 'BAKA': 4, 'CAPTAIN': 2, 'NO': 1}

In [ ]:
products = [{"name":"vivo", "price":17000, "stocks":8},
            {"name":"oneplus", "price":40000, "stocks":9},
            {"name":"macbook", "price":150000, "stocks":1},
            {"name":"iphone", "price":170000, "stocks":8},
            {"name":"nothing", "price":80000, "stocks":24}]
total_value = 0
highest_value = 0
highest_product = ""
for product in products:
      name = product["name"]
      price = product["price"]
      stocks = product["stocks"]

      if stocks == 0:
          continue

      value = price * stocks
      total_value += value

      if value > highest_value:
         highest_value = value
         highest_product = name

print(" total value of the products:", total_value)
print(" highest valueable product is ",highest_product,"-",highest_value)

 total value of the products: 3926000
 highest valueable product is  nothing - 1920000

In [ ]:
products = [
{"name": "earphone", "price": 200, "stock": 10},
{"name": "cable", "price": 100, "stock": 0},
{"name": "charger", "price": 400, "stock": 9},
{"name": "card", "price": 30, "stock": 50}]

total_value = 0
highest_value = 0
highest_product = ""
for product in products:
      price = product["price"]
      stock = product["stock"]
      name = product["name"]


      if stock == 0:
        continue

      value = price * stock
      total_value += value

      if value > highest_value:
        highest_value = value
        highest_product = name
print(" grand total value of the products:", total_value)
print(" valueable product is ", highest_product, "-" ,highest_value)

 grand total value of the products: 7100
 valueable product is  charger - 3600

In [ ]:
number = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
even_numbers = [num for num in number if num % 3 == 0]
print(even_numbers)

[3, 6, 9, 12, 15]

In [ ]:
even_numbers = [num for num in range(1, 90) if num % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88]

In [ ]:
books = [{"tittle": "one piece", "price": 700, "stock": 50},
{"tittle": "AOT", "price": 800, "stock": 0},
{"tittle": "OPM", "price": 650, "stock": 100},
{"tittle": "dragon ball", "price": 900, "stock": 78}]


total_value = 0
highest_value = 0
highest_book = ""
for book in books:
     tittle = book["tittle"]
     price = book["price"]

     stock = book["stock"]



     if stock == 0:
         continue

     value = price * stock
     total_value += value
     if value > highest_value:
        highest_value = value
        highest_book = tittle


print(" total value of the books is :", total_value)
print(" most of funds are coverd by :", highest_book, "-", highest_value)

 total value of the books is : 170200
 most of funds are coverd by : dragon ball - 70200

In [ ]:

# mobile_phones our family use .
mobiles = [{"name": "iQOO z7 pro", "price": 25000, "quantity": 1},
{"name": "oppo A57", "price": 18000, "quantity": 1},
{"name": "redmi note 8pro", "price": 15000, "quantity": 2},
{"name": "nothing phone 2", "price": 38000, "quantity": 1}]

total_value = 0
costliest_mobile_value = 0
costliest_mobile_name = ""

for mobile in mobiles:
    name = mobile["name"]
    price = mobile["price"]

    quantity = mobile["quantity"]


    if quantity == 0:
      continue


    value = price * quantity
    total_value += value

    if value > costliest_mobile_value:
        costliest_mobile_value = value
        costliest_mobile_name = name
print(" our family uses mobile phone worth rupees of :", total_value)
print(" the maximum money is used on this mobile :", costliest_mobile_name, "- worth rupees of", costliest_mobile_value)

 our family uses mobile phone worth rupees of : 111000
 the maximum money is used on this mobile : nothing phone 2 - worth rupees of 38000

In [ ]:
sentence = " luffy is kind and zoro is also kind and both are like brother to each other "
uppercase_sentence = sentence.upper()
word_list = uppercase_sentence.split()
word_list.sort()
even_word_count =  [word for word in word_list if len(word) % 2 ==0]
print(even_word_count)
odd_word_count = [word for word in word_list if len(word) % 2 != 0]
print(odd_word_count)

['ALSO', 'BOTH', 'EACH', 'IS', 'IS', 'KIND', 'KIND', 'LIKE', 'TO', 'ZORO']
['AND', 'AND', 'ARE', 'BROTHER', 'LUFFY', 'OTHER']

In [ ]:
students = [{"name": "Naruto", "mark": 555},
{"name": "Luffy", "mark": 578},
{"name": "Ichigo", "mark": 530},
{"name": "Light", "mark": 599}]

def ranking_student(students):
   for student in students:
       name = student["name"]
       mark = student["mark"]
students.sort( key = lambda x: x["mark"])
print(f"{'The first place goes to'} {students[-1]['name']} {'with the mark of:'} {students[-1]['mark']} {'out of 600'}")
print(f"{'The second place goes to'} {students[-2]['name']} {'with the mark of:'} {students[-2]['mark']} {'out of 600'}")
print(f"{'the third place goes to'} {students[-3]['name']} {'with the mark of:'} {students[-3]['mark']} {'out of 600'}")
ranking_student(students)

The first place goes to Light with the mark of: 599 out of 600
The second place goes to Luffy with the mark of: 578 out of 600
the third place goes to Naruto with the mark of: 555 out of 600

In [ ]:
products = [{"name": "rice", "price": 700, "stock": 80},
{"name": "fish", "price": 800, "stock": 65},
{"name": "meat", "price": 900, "stock": 50},
{"name": "chocolate", "price": 1000, "stock": 0},
{"name": "cake", "price": 1500, "stock": 0},
{"name": "oil", "price": 500, "stock": 50}]

total_value  = 0
maximum_value = 0
highest_product = ""


for product in products:



       name = product["name"]
       price = product["price"]
       stock = product["stock"]


       if stock == 0:


          print(f"{'this product is out of stock'} {product['name']}, {'please fill the stock'}")


          continue

       value = price * stock
       total_value += value


       if value > maximum_value:
         maximum_value = value
         highest_product = name


print(f"{'The total value of the products'} {total_value}")
print(f"{' The funds are available in'} {highest_product} - {maximum_value}")

this product is out of stock chocolate, please fill the stock
this product is out of stock cake, please fill the stock
The total value of the products 178000
 The funds are available in rice - 56000

In [ ]:
students = [{"name": "nahida", "mark": 555},
{"name": "furina", "mark": 470},
{"name": "raiden", "mark": 365},
{"name": "skirk", "mark": 590},
{"name": "qiqi", "mark": 140}]
def grade_ranking(students):

   for student in students:
         name = student["name"]
         mark = student["mark"]
         if mark > 540:
           print(f"{student['name']} {'you got A+ Grande and with the mark of'} {student['mark']}")
         elif mark > 500:
           print(f"{student['name']} {'you got A Grande and with the mark of'} {student['mark']}")
         elif mark > 450:
           print(f"{student['name']} {'you got B Grande and with the mark of'} {student['mark']}")
         elif mark > 350:
           print(f"{student['name']} {'you got C Grande and with the mark of'} {student['mark']}")
         else:
           print(f"{student['name']} {'you got F Grande and with the mark of'} {student['mark']}")
grade_ranking(students)

nahida you got A+ Grande and with the mark of 555
furina you got B Grande and with the mark of 470
raiden you got C Grande and with the mark of 365
skirk you got A+ Grande and with the mark of 590
qiqi you got F Grande and with the mark of 140

In [ ]:
products = [{"name": "sofa", "price": 40000, "quantity": 10},
{"name": "dining", "price": 50000, "quantity": 6},
{"name": "bed", "price": 70000, "quantity": 0},
{"name": "table", "price": 30000, "quantity": 20}]


grand_value = 0
expensive_value = 0
expensive_product = ""

for product in products:
      name = product["name"]
      price = product["price"]
      quantity = product["quantity"]

      if quantity == 0:
          continue



      value = price * quantity
      grand_value += value


      if value > expensive_value:
        expensive_value = value
        expensive_product = name

print(f"{'The grand value of the shop is'} {grand_value}")
print(f"{'Most of the shops fund are used to buy'} {expensive_product} {'worth rupees of'} {expensive_value}")

The grand value of the shop is 1300000
Most of the shops fund are used to buy table worth rupees of 600000

In [ ]:
sentences = " my name is luffy I love to read novel and also I play games sometimes"
uppercase_words = sentences.upper()
word_list = uppercase_words.split()
even_word = [word for word in word_list if len(word) % 2 == 0]
print("The even word which is in the sentences are :", even_word)
odd_word = [word for word in word_list if len(word) % 2 != 0]
print("The odd word which is in the sentences are :", odd_word)

The even word which is in the sentences are : ['MY', 'NAME', 'IS', 'LOVE', 'TO', 'READ', 'ALSO', 'PLAY']
The odd word which is in the sentences are : ['LUFFY', 'I', 'NOVEL', 'AND', 'I', 'GAMES', 'SOMETIMES']

In [ ]:
phones = [{"name": "iphone", "price": 70000},
{"name": "mac book", "price": 150000},
{"name": "one plus", "price": 80000},
{"name": "buds", "price": 5000}]

expensive_phones = sorted(phones, key=lambda x: x['price'], reverse=True)
def phone_list(expensive_phones):
   for phone in expensive_phones:
        name = phone["name"]
        price = phone["price"]

print(f"{'The most expensive device is :'} {expensive_phones[0]['name']} {'worth rupees of:'} {expensive_phones[0]['price']}")
print(f"{'The 2nd most expensive device is :'} {expensive_phones[1]['name']} {'worth rupees of:'} {expensive_phones[1]['price']}")
print(f"{'The 3rd most expensive device is :'} {expensive_phones[2]['name']} {'worth rupees of:'} {expensive_phones[2]['price']}")
phone_list(expensive_phones)

The most expensive device is : mac book worth rupees of: 150000
The 2nd most expensive device is : one plus worth rupees of: 80000
The 3rd most expensive device is : iphone worth rupees of: 70000

In [ ]:
products  = []
n = int(input("how many products?"))
for i in range(n):
     name = input("Enter the product name:")
     price = int(input("Enter the price:"))
     stock = int(input("Enter the quantity:"))

     product = {"name": name, "price": price, "stock": stock}
     products.append(product)



total_value = 0
expensive_value = 0
expensive_product = ""

for product in products:
   value = product["price"] * product["stock"]
   total_value +=  value


   if value > expensive_value:
      expensive_value = value
      expensive_product = product["name"]
print(f"{'Your total bill is :'} {total_value}")
print(f"{'most of most expensive product is :'} {product['name']} {'worth rupees of'} {expensive_value}")

how many products?1
Enter the product name:Oil
Enter the price:300
Enter the quantity:3
Your total bill is : 900
most of most expensive product is : Oil worth rupees of 900

In [ ]:
mobiles = []
n = int(input("No of phones"))
for i in range(n):
    name = input("Enter the model name:")
    price = int(input("Enter the MRP:"))
    quantity = int(input("Enter the quantity:"))

    mobile = {"name": name, "price": price, "quantity": quantity}
    mobiles.append(mobile)

total_value = 0
highest_value = 0
highest_phone = ""

for mobile in mobiles:
    value = mobile["price"] * mobile["quantity"]
    total_value += value
    if value > highest_value:
      highest_value = value
      highest_phone = mobile["name"]
print(f"{'Total bill amount:'} {total_value}")
print(f"{'The highest amount of money is used to buy '} {highest_phone} {'worth rupees of'} {highest_value}")

No of phones1
Enter the model name:Oppo
Enter the MRP:20000
Enter the quantity:1
Total bill amount: 20000
The highest amount of money is used to buy  Oppo worth rupees of 20000

In [ ]:
students = [{"name": "salman", "mark": 400},
{"name": "sarukh", "mark": 500},
{"name": "RDJ", "mark": 590},
{"name": "hulk", "mark": 298},
{"name": "banner", "mark": 587},
{"name": "loki", "mark": 555},
{"name": "groot", "mark": 70}]


for student in students:
       name = student["name"]
       mark = student["mark"]
       if mark >= 300 :
         print(f"{student['name']} {'you have passed with the mark of:'} {student['mark']} {'out of 600'}")
       else:
         print(f"{student['name']} {'you have failed '} {'you got'} {student['mark']} {'out of 600'} {'while passing mark is 300'}")

salman you have passed with the mark of: 400 out of 600
sarukh you have passed with the mark of: 500 out of 600
RDJ you have passed with the mark of: 590 out of 600
hulk you have failed  you got 298 out of 600 while passing mark is 300
banner you have passed with the mark of: 587 out of 600
loki you have passed with the mark of: 555 out of 600
groot you have failed  you got 70 out of 600 while passing mark is 300

In [ ]:
sentences = " Hulk and Thor are the best duo as well as hulk and thor has best moments in the marvel and marvel is a studio like dc studio"
uppercase_sentence = sentences.upper()
word_list = uppercase_sentence.split()
word_count = {}
for word in word_list:
  if word in word_count:
    word_count[word] += 1
  else:
    word_count[word] = 1
print(word_count)

{'HULK': 2, 'AND': 3, 'THOR': 2, 'ARE': 1, 'THE': 2, 'BEST': 2, 'DUO': 1, 'AS': 2, 'WELL': 1, 'HAS': 1, 'MOMENTS': 1, 'IN': 1, 'MARVEL': 2, 'IS': 1, 'A': 1, 'STUDIO': 2, 'LIKE': 1, 'DC': 1}

In [ ]:

# Game Size in GB MOBILE GAMES
games = [{"name": "ginshen", "size": 50},
{"name": "PUBG", "size": 15},
{"name": "Fortnite", "size": 25},
{"name": "COD", "size": 22},
{"name": "COC", "size": 2}]


game_list = sorted(games, key=lambda x: x["size"], reverse=True)
print(game_list)
for game in game_list:
    name = game["name"]
    size = game["size"]
print(f"{'The game is :'} {game_list[0]['name']} {'has massive size of:'} {game_list[0]['size']} {'freaking GIGA BYTES'}")

[{'name': 'ginshen', 'size': 50}, {'name': 'Fortnite', 'size': 25}, {'name': 'COD', 'size': 22}, {'name': 'PUBG', 'size': 15}, {'name': 'COC', 'size': 2}]
The game is : ginshen has massive size of: 50 freaking GIGA BYTES

In [ ]:
sentences = " messi is the greatest player of all time AKA the goat of football I love messi so much and one of biggest fan of him"
uppercase_sentence = sentences.upper()
word_list = uppercase_sentence.split()
even_words = [word for word in word_list if len(word) % 2 == 0]
print(even_words)
odd_words  = [word for word in word_list if len(word) % 2 != 0]
print(odd_words)

['IS', 'GREATEST', 'PLAYER', 'OF', 'TIME', 'GOAT', 'OF', 'FOOTBALL', 'LOVE', 'SO', 'MUCH', 'OF', 'OF']
['MESSI', 'THE', 'ALL', 'AKA', 'THE', 'I', 'MESSI', 'AND', 'ONE', 'BIGGEST', 'FAN', 'HIM']

In [ ]:
try:
    num = int(input("Enter a number: "))
    result = 10 / num
    print("Result:", result)
except ZeroDivisionError:
    print("You can't divide by zero!")
except ValueError:
    print("Please enter a valid number.")

Enter a number: Ft
Please enter a valid number.

In [ ]:
students = [{"name": "Boruto", "mark": 450},
{"name": "itachi", "mark": 545},
{"name": "madara", "mark": 569},
{"name": "pain", "mark": 534},
{"name": "guy", "mark": 159},
{"name": "lee", "mark": 157}]

Student_list = sorted(students, key =lambda x: x["mark"], reverse=True)
print(student_list)
print(f"{student_list[0]['name']} {'you got first place with Mark of'} {student_list[0]['mark']} {'out of 600'}")

[{'name': 'madara', 'mark': 569}, {'name': 'itachi', 'mark': 545}, {'name': 'pain', 'mark': 534}, {'name': 'Boruto', 'mark': 450}, {'name': 'guy', 'mark': 159}, {'name': 'lee', 'mark': 157}]
madara you got first place with Mark of 569 out of 600

In [ ]:
devices = [{"name": "phone", "price": 15000, "quantity": 2},
{"name": "buds", "price": 5299, "quantity": 2},
{"name": "watch", "price": 2000, "quantity": 2}]


for device in devices:
    name = device["name"]
    price = device["price"]
    quantity = device["quantity"]

    value = price * quantity


    if value > 10000:
     print(f"{device['name']} {'cost more ten thousand rupees'}")

phone cost more ten thousand rupees
buds cost more ten thousand rupees

In [ ]:
phones = [{"name": "Iphone", "price": 70000}, {"name": "Oneplus", "price": 69000}, {"name": "HMD", "price": 55000}]
user_input = input("Enter the phone name: ")
found_phone = None
for phone in phones:
    if user_input.lower() == phone["name"].lower():
        found_phone = phone

if found_phone:
    print(f"{'you are searching for'} {found_phone['name']} {'worth rupees of'} {found_phone['price']}")
else:
    print("data not found")

Enter the phone name: Iphone
you are searching for Iphone worth rupees of 70000

In [ ]:
phones = [{"name": "Iphone", "price": 75000, "ram": 8},
{"name": "OnePlus", "price": 90000, "ram": 12},
{"name": "samsung", "price": 150000, "ram": 16}]
user_input = input("Enter the phone name:")
found_phone = None
for phone in phones:
   if user_input.upper() == phone["name"].upper():
     found_phone = phone

if found_phone:
   print(f"{found_phone['name']} {'is cost about ₹'}{found_phone['price']} {'and has ram of'} {found_phone['ram']}{'GB'}")
else:
   print("no data found")

Enter the phone name:Samsung
samsung is cost about ₹150000 and has ram of 16GB

In [ ]:
try:
    products = []
    n = int(input("how many items:"))
    for i in range(n):
        name = input("Enter product name:")
        price = int(input("Enter price:"))
        quantity = int(input("Enter quantity:"))

        product = {"name": name, "price": price, "quantity": quantity}
        products.append(product)

    total_value = 0
    maximum_value = 0
    maximum_product = ""


    for product in products:
        value = product["price"] * product["quantity"]
        total_value += value

        if value > maximum_value:
          maximum_value = value
          maximum_product = product["name"]

    print(f"{'The grand cost of the cart is ₹'}{total_value}")
    print(f"{'The maximum cost is used to buy'} {maximum_product} {'worth ₹'}{maximum_value}")

except ValueError:
    print("Enter valid number")
except Exception as e:
    print(f"an unexpected error occurred: {e}")

how many items:1
Enter product name:Rice
Enter price:39
Enter quantity:39
The grand cost of the cart is ₹1521
The maximum cost is used to buy Rice  worth ₹1521

In [ ]:
students = [{"name": "luffy", "mark": 555},
{"name": "zoro", "mark": 566},
{"name": "Naruto", "mark": 532},
{"name": "itachi", "mark": 530},
{"name": "pain", "mark": 559}]

even_marks = [student for student in students if student["mark"] % 2 ==0]
print("The students who has even marks:")
for student in even_marks:
    print(f"{student['name']} {student['mark']}")
odd_marks = [student for student in students if student["mark"] % 2 != 0]
print("The students who has odd marks:")
for student in odd_marks:
    print(f"{student['name']} {student['mark']}")

The students who has even marks:
zoro 566
Naruto 532
itachi 530
The students who has odd marks:
luffy 555
pain 559

In [ ]:
sentence = " I love her so much that when she tell me to quit music for her I completely quit music for her and after that she left me with nothing when I am with her I have all things but when she left me I have nothing"
uppercase_sentence = sentence.upper()
word_list = uppercase_sentence.split()
word_count = {}
for word in word_list:
   if word in word_count:
      word_count[word] += 1
   else:
      word_count[word] = 1
print(word_count)

{'I': 5, 'LOVE': 1, 'HER': 4, 'SO': 1, 'MUCH': 1, 'THAT': 2, 'WHEN': 3, 'SHE': 3, 'TELL': 1, 'ME': 3, 'TO': 1, 'QUIT': 2, 'MUSIC': 2, 'FOR': 2, 'COMPLETELY': 1, 'AND': 1, 'AFTER': 1, 'LEFT': 2, 'WITH': 2, 'NOTHING': 2, 'AM': 1, 'HAVE': 2, 'ALL': 1, 'THINGS': 1, 'BUT': 1}

In [ ]:


try:

    products = []
    n = 5
    for i in range(5):
       name = input("Enter product name:")
       price = int(input("Enter Price:"))
       stock = int(input("Enter quantity:"))
       product = {"name": name, "price": price, "stock": stock}
       products.append(product)

    total_value = 0
    maximum_value = 0
    maximum_product = ""
    minimum_value = float('inf')
    minimum_product = ""


    for product in products:
        value = product["price"] * product["stock"]
        total_value += value

        if value > maximum_value:
          maximum_value = value
          maximum_product = product["name"]
        if value < minimum_value:
            minimum_value = value
            minimum_product = product["name"]

    print(f"{'The total shoping cost is ₹'} {total_value}")
    print(f"{'The maximum money is used to buy:'} {maximum_product} {'worth of ₹'}{maximum_value}")
    print(f"{'The lowest price of product is:'} {minimum_product} {'worth of ₹'}{minimum_value}")
except ValueError:
    print("Enter a valid number")
except Exception as e:
    print(f"An unknown error occurred: as {e}")

Enter product name:Hp
Enter Price:30000
Enter quantity:2
Enter product name:Apple
Enter Price:69999
Enter quantity:1
Enter product name:Dell
Enter Price:45999
Enter quantity:2
Enter product name:Asus
Enter Price:89999
Enter quantity:1
Enter product name:Samsung
Enter Price:80000
Enter quantity:3
The total shoping cost is ₹ 551996
The maximum money is used to buy: Samsung  worth of ₹240000
The lowest price of product is: Samsung  worth of ₹60000

In [ ]:
students = [{"name": "luffy", "mark": 540},
{"name": "zoro", "mark": 520},
{"name": "sanji", "mark": 521},
{"name": "chopper", "mark": 430}]

for student in students:
     name = student["name"]
     mark = student["mark"]

     if mark > 500:
        print(f"{'you are in top 1 % '}{student['name']} {'with the mark of'} {student['mark']}")
     else:
        print(f"{'you passed'} {student['name']} {'with mark'} {student['mark']}")

you are in top 1 % luffy with the mark of 540
you are in top 1 % zoro with the mark of 520
you are in top 1 % sanji with the mark of 521
you passed chopper with mark 430

In [ ]:
products = [{ "name": "meat", "price": 300, "stock": 20},
{"name": "fish", "price": 400, "stock": 10},
{"name": "tomato", "price": 40, "stock": 8}]



for product in products:
    name = product["name"]
    price = product["price"]
    stock = product["stock"]

    if stock > 10 :
      print(f"{product['name']} {'worth rupees of ₹'}{product['price']} {'has stock of:'} {product['stock']}")
    else:
      print(f"{product['name']} {'has less than 10'} {'please refil stock'}")

meat worth rupees of ₹300 has stock of: 20
fish has less than 10 please refil stock
tomato has less than 10 please refil stock

In [ ]:
try:
    products = [{"name": "rice", "price": 30},
    {"name": "fish", "price": 350},
    {"name": "meat", "price": 450}]
    n = 1
    user_input = input("Search the Product:")
    found_product = None
    for product in products:
        name = product["name"]
        price = product["price"]
        if user_input.lower() == product["name"].lower():


           found_product = product
           print(f"{'product name:'} {product['name']} {'and worth of ₹'}{product['price']}")

           break

        if not found_product:
           print("data not found")


except ValueError:
     print("Enter Valid name")

Search the Product:5
data not found
data not found
data not found

In [ ]:
students = [{"name": "Arman", "mark": 589},
{"name": "aman", "mark": 551},
{"name": "atik", "mark": 456},
{"name": "atif", "mark": 102},
{"name": "arijit", "mark": 590}]


a_plus_count = 0
a_count = 0
b_count = 0
f_count = 0

for student in students:
    name = student["name"]
    mark = student["mark"]


    if mark > 560:
      print(f"{student['name']} {'you got A+ Grade '}{'with the mark of '}{student['mark']} {'out of 600'}")
      a_plus_count += 1
    elif mark > 460:
      print(f"{student['name']} {'you got A Grade '}{'with the mark of '}{student['mark']} {'out of 600'}")
      a_count += 1
    elif mark > 360:
      print(f"{student['name']} {'you got B Grade '}{'with the mark of '}{student['mark']} {'out of 600'}")
      b_count += 1
    else:
      print(f"{student['name']} {'you have failed '}{'try hard next time'}")
      f_count += 1
print("\nGrade Distribution:")
print(f"{'A+ Grade:'} {a_plus_count}")
print(f"{'A Grade:'} {a_count}")
print(f"{'B Grade:'} {b_count}")
print(f"{'F Grade:'} {f_count}")

Arman you got A+ Grade with the mark of 589 out of 600
aman you got A Grade with the mark of 551 out of 600
atik you got B Grade with the mark of 456 out of 600
atif you have failed try hard next time
arijit you got A+ Grade with the mark of 590 out of 600

Grade Distribution:
A+ Grade: 2
A Grade: 1
B Grade: 1
F Grade: 1

In [ ]:
games = [{"name": "PUBG", "size": 20}, {"name": "COD", "size": 30}, {"name": "Genshin", "size": 80},
{"name": "Fortnite", "size": 43},
{"name": "GOW", "size": 40}]
total_size = 0
for game in games:
   total_size += game["size"]


average_size = total_size/len(games)
print(f"{'The average game size is :'} {average_size:.2f}{'GB'}")
print(f"{'The game which has more size than average is:'}")

for game in games:
    if game["size"] > average_size:
       print(f"- { game['name']} ({game['size']} {'GB'})")

The average game size is : 42.60GB
The game which has more size than average is:
- Genshin (80 GB)
- Fortnite (43 GB)

In [ ]:

try:
    products = []
    n = 5
    for i in range(n):
      name = input("Enter The product: ")
      price = int(input("Enter the price: "))
      quantity = int(input("Enter the quantity: "))
      product = {"name": name, "price": price, "quantity": quantity}
      products.append(product)

    total_value = 0
    maximum_value = 0
    maximum_product = ""


    for product in products:
         value = product["price"] * product["quantity"]
         total_value += value

         if total_value > 10000:
            print(f"{'the cart value is crossing the limit of ₹10000'}")
            continue

         if value > maximum_value:
            maximum_value = value
            maximum_product = product["name"]

    print(f"{'you total cart value is : ₹'}{total_value}")
    print(f"{'the most costed product is:"} {maximum_product} {'worth of ₹'}{maximum_value}")
except ValueError:
    print("Enter Valid Input")

Enter The product: Rice
Enter the price: 50
Enter the quantity: 100
Enter The product: Oil
Enter the price: 500
Enter the quantity: 6
Enter The product: Spices
Enter the price: 500
Enter the quantity: 1
Enter The product: Pulse
Enter the price: 100
Enter the quantity: 8
Enter The product: Veg
Enter the price: 1000
Enter the quantity: 4
the cart value is crossing the limit of ₹10000
you cart value is : ₹13300

In [ ]:
sentences = " I love you so much I believe we are made for each other do you remember when we use to a single umbrella for rain"
lowercase_sentence = sentences.lower()
word_list = lowercase_sentence.split()
vowel = {'a', 'i', 'e', 'o', 'u'}

for word in word_list:
    if word and word[0] in vowel:

       print(f"'{word}' 'start with a viwel'")

In [ ]:
sentence = input("Enter the sentence")
more_words = sentence.split()
word_lists = [word for word in more_words if len(word) >= 4]
print("The words which is equal or greater than four are:")
for word in word_lists:
   print(word)

Enter the sentenceI like you
The words which is equal or greater than four are:
like

In [ ]:
phones = [{"name": "iPhone", "price": 75000}, {"name": "OnePlus", "price": 55000}, {"name": "POCO", "price": 20000}]
budget = int(input("Enter your Budget:"))
print(f"{'phone in your budget of ₹'}{budget}")
found_phone = None
for phone in phones:
    if phone["price"] <= budget:
        print(f"-{phone['name']} (₹{phone['price']})")
        found_phone = phone
if not found_phone:
     print("No phones found within your budget ")

Enter your Budget:90000
phone in your budget of ₹90000
-iPhone (₹75000)
-OnePlus (₹55000)
-POCO (₹20000)

In [ ]:
budget = int(input("Enter your budget: "))

print(f"\nPhones within your budget of ₹{budget}:")
found_phones = False
for phone in phones:
    if phone["price"] <= budget:
        print(f"- {phone['name']} (₹{phone['price']})")
        found_phones = True

if not found_phones:
    print("No phones found within your budget.")

Enter your budget: 90000

Phones within your budget of ₹90000:
- iPhone (₹75000)
- OnePlus (₹55000)
- POCO (₹20000)

In [ ]:
with open("students.txt","w") as file:
     file.write("Naruto,545\n")
     file.write("Ichigo,565\n")
     file.write("Vini,430\n")
     file.write("Yamal, 450\n")



with open("students.txt", "r") as file:
     lines = file.readlines()

for line in lines:
    line = line.strip()
    name, mark = line.split(",")
    mark = int(mark)


    if mark >= 500:
      print(f"{'you are on top 1% list'} {name} {'with the mark'} {mark}")
    else:
      print(f"{name} {'you have passed with Mark of'} {mark}")

you are on top 1% list Naruto with the mark 545
you are on top 1% list Ichigo with the mark 565
Vini you have passed with Mark of 430
Yamal you have passed with Mark of 450

In [ ]:
try:
    phones = [{"name": "iphone", "price": 70000},
             {"name": "oneplus", "price": 60000},
             {"name": "samsung", "price": 90000}]
    user_input = input("Enter Phone Name: ")
    found_phone = None
    for phone in phones:
        name = phone["name"]
        price = phone["price"]


        if user_input.lower() == phone["name"].lower():
           found_phone = phone
           print(f"{'phone name is '}{phone['name']} { 'worth of ₹'}{phone['price']}")
           break

    if not found_phone:
        print(f"{user_input} {'not in the list'}")


except ValueError:
    print("Enter valid name")

Enter Phone Name: OnePlus
phone name is oneplus worth of ₹60000

In [ ]:
with open("sentences.txt", "w") as file:
     file.write(" you ase awesome dude I wish I have meet you earlier")
with open("sentences.txt", "r") as file:
     content = file.read()
lowercase_content = content.lower()
word_list = lowercase_content.split()
long_word = [word for word in word_list if len(word) > 4]
for word in long_word:

   print(word)

awesome
earlier

In [ ]:
with open("sentences.txt", "w") as file:
    file.write("marvels universe has more superhero than DC universe but has more baddass villain like doomsday joker but marvel has also has some villain like Thanos etc")
with open("sentences.txt", "r") as file:
    content = file.read()
lower_case = content.lower()
word_list = lower_case.split()
long_word = [word for word in word_list if len(word) >= 6]
print("The word which contains six or more letters are :")
for word in long_word:
   print(word)

The word which contains six or more letters are :
marvels
universe
superhero
universe
baddass
villain
doomsday
marvel
villain
thanos

In [ ]:
products  = [{"name": "rice", "price": 60, "quantity": 30}, {"name": "meat", "price": 560, "quantity": 5}, {"name": "fish", "price": 450, "quantity": 4}]

total_value = 0
maximum_value = 0
maximum_product = ""
for product in products:
     name = product["name"]
     price = product["price"]
     quantity = product["quantity"]

     if quantity == 0:

       continue

     value = price * quantity
     total_value += value

     if value > maximum_value:
        maximum_value = value
        maximum_product = product["name"]
print(f"{'The total cost of products is ₹'}{total_value}")
print(f"{'Most of cost are used to buy'} {maximum_product} {'worth of ₹'}{maximum_value} {'out of ₹'}{total_value}")

The total cost of products is ₹6400
Most of cost are used to buy meat worth of ₹2800 out of ₹6400

In [ ]:
students = [{"name": "luffy", "mark": 267},
{"name": "zoro", "mark": 569},
{"name": "ussop", "mark": 500},
{"name": "chopper", "mark": 380}]
for student in students:
    name = student["name"]
    mark = student["mark"]

    if mark >= 560:
      print(f"{student['name']} {'you got A+ grade in exam with Mark of'} {student['mark']}")
    elif mark >= 460:
      print(f"{student['name']} {'you got A grade in exam with Mark of'} {student['mark']}")
    elif mark >= 360:
      print(f"{student['name']} {'you got B grade in exam with Mark of'} {student['mark']}")
    else:
      print(f"{student['name']} {'you have failed'}")

luffy you have failed
zoro you got A+ grade in exam with Mark of 569
ussop you got A grade in exam with Mark of 500
chopper you got B grade in exam with Mark of 380

In [ ]:
try:
    products = [{"name": "Apple", "price": 99},
                {"name": "Orange", "price": 88},
                {"name": "nut", "price": 300}]

    found_products = []
    user_input = input("Enter a latter to search:")

    if not user_input:
        print(f"{'Enter a Valid latter:'}")
    else:
        search_latter = user_input[0].lower()

        for product in products:
           if product["name"].lower().startswith(search_latter):
             found_products.append(product)

        if found_products:
           print(f"{'The product start with the :'} {user_input[0]}")
           for product in found_products:
              print(f"- {product['name']} {'price of ₹'}{product['price']}")


        else:
           print(f"{'No product found starts with'} {user_input[0]}")

except ValueError:
    print("valid later")

Enter a latter to search:A
The product start with the : A
- Apple price of ₹99

In [ ]:
sentences = input("Enter your sentence:")
lower_case = sentences.lower()
word_list = lower_case.split()
vowel = {'a', 'e', 'i', 'o', 'u'}
total_count = sum(c.isalpha() for c in sentences)
print(total_count)


for word in word_list:
   if word and word[0] in vowel:
      print(f"{word} {'start with vowel'}")

Enter your sentence:I love i u e
8
i start with vowel
i start with vowel
u start with vowel
e start with vowel

In [ ]:
with open("students.txt", "w") as file:
     file.write("sanji,543\n")
     file.write("ussop,460\n")
     file.write("nami, 300\n")

with open("students.txt", "r") as file:
    lines = file.readlines()

for line in lines:
    line = line.strip()
    name, mark = line.split(",")
    mark = int(mark)

    if mark >= 460:
       print(f"{name} {'you are passed '} {'with Mark:'} {mark}")
    else:
       print(f"{name} {'you have failed'}")

sanji you are passed  with Mark: 543
ussop you are passed  with Mark: 460
nami you have failed

In [ ]:
products = [{"name": "rice", "price": 70},
{"name": "cola", "price": 135},
{"name": "meat", "price": 560}]

updated_products = []

print("Please enter the quantity for each product:")
for product in products:
    name = product["name"]
    price = product["price"]
    quantity = int(input(f"Enter quantity for {name}: "))
    updated_products.append({"name": name, "price": price, "quantity": quantity})

total_value = 0
shopping_product = ""
found_product = None

for product in updated_products:
    name = product["name"]
    price = product["price"]
    quantity = product["quantity"]

    if quantity == 0:
       continue

    value = price * quantity
    total_value += value

    # The user input for searching is not used in the current logic,
    # so this part of the code is commented out for now.
    # if user_input.lower() == product["name"].lower():
    #    fornd_product = product

print(f"{'Total value of the cart is ₹'}{total_value}")

Please enter the quantity for each product:
Enter quantity for rice: 0
Enter quantity for cola: 2
Enter quantity for meat: 1
Total value of the cart is ₹830

In [ ]:

try:
    products = [{"name": "rice", "price": 70}, {"name": "cola", "price": 135}, {"name": "meat", "price": 560}]
    products_list = []
    print("Enter the quantity for each product")
    for product in products:
        name = product["name"]
        price = product["price"]
        quantity = int(input(f"Enter Quantity for {name}:"))
        products_list.append({"name": name, "price": price, "quantity": quantity})
    total_value = 0

    for product in products_list:
        name = product["name"]
        price = product["price"]
        quantity = product["quantity"]


        value = price * quantity
        total_value += value


    print(f"{'Total cost of product is ₹'}{total_value}")
except ValueError:
    print("Enter a valid Number")

Enter the quantity for each product
Enter Quantity for rice:3
Enter Quantity for cola:6
Enter Quantity for meat:2
Total cost of product is ₹2140

In [ ]:
with open("students.txt","w") as file:
      file.write("luffy,540\n")
      file.write("zoro,580\n")
      file.write("sanji,490\n")
      file.write("chooper,200\n")
with open("students.txt","r") as file:
      lists = file.readlines()
for list in lists:
     list = list.strip()
     name, mark = list.split(",")
     mark = int(mark)


     if mark > 560:
        print(f"{name} {'you got A+ grade with the mark of : '}{mark}")
     elif mark > 500:
        print(f"{name} {'you got A grade with the mark of : '}{mark}")
     elif mark > 460:
        print(f"{name} {'you got B grade with the mark of : '}{mark}")
     else:
        print(f"{name} {'you fail in exam , you only got mark of : '}{mark}")

luffy you got A grade with the mark of : 540
zoro you got A+ grade with the mark of : 580
sanji you got B grade with the mark of : 490
chooper you fail in exam , you only got mark of : 200

In [ ]:
products = [{"name": "iphone", "price": 65000},
{"name": "samsung", "price": 80000},
{"name": "oneplus", "price": 66000},
{"name": "HMD", "price": 40000}]
product_list = sorted(products, key=lambda x: x["price"], reverse=True)
for product in product_list:
    name = product["name"]
    price = product["price"]
print(f"{'The most expensive product is:'} {product_list[0]['name']} {'worth of ₹'}{product_list[0]['price']}")
print(f"{'The 2nd most expensive product is:'} {product_list[1]['name']} {'worth of ₹'}{product_list[1]['price']}")

The most expensive product is: samsung worth of ₹80000
The 2nd most expensive product is: oneplus worth of ₹66000

In [ ]:
with open("sentences.txt","w") as file:
     file.write("I like you so much that I always kept my door open only for you I wish we kept together in each universe ")
with open("sentences.txt","r") as file:
     sentence = file.read()
     lower_case = sentence.lower()
     word_list = lower_case.split()
     vowel = {'a', 'e', 'i', 'o', 'u'}

     for word in word_list:
        if word and word[0] in vowel:
           print(f"{word}: {'The word which starts with vowel'}")

i: The word which starts with vowel
i: The word which starts with vowel
always: The word which starts with vowel
open: The word which starts with vowel
only: The word which starts with vowel
i: The word which starts with vowel
in: The word which starts with vowel
each: The word which starts with vowel
universe: The word which starts with vowel

In [ ]:
try:
    products = [{"name": "rice", "price": 780},
    {"name": "meat", "price": 699},
    {"name": "fish", "price": 588}]

    found_letter = None
    user_input = input("Enter the letter:")
    sort_product = sorted(products, key=lambda x: x["name"])
    for product in sort_product:
       if user_input.lower() == product["name"][-1].lower():
           found_product = product
           print(f"{product ['name']} {'price of ₹'}{product['price']}")
       elif user_input.lower != product["name"][-1].lower():
           print("Enter Valid Letter")
except ValueError:
   print(f"{user_input} {'Does not contain any product'}")

Enter the letter:S
No product found ending with S

In [ ]:
with open("sentences.txt","w") as file:
     file.write(" I like you so much that I could any thing for you")
with open("sentences.txt","r") as file:
       sentence = file.read()
       lower_case = sentence.lower()
       word_list = lower_case.split()
for word in word_list:
   if len(word) >= 4:
      print(word)

like
much
that
could
thing

In [ ]:
with open("students.txt","w") as file:
     file.write("sanji,570\n")
     file.write("zoro,555\n")
     file.write("nami,460\n")
with open("students.txt","r") as file:
     student_list = file.readlines()

for student in student_list:
    student = student.strip()
    name, mark = student.split(",")
    mark = int(mark)

    if mark >= 460:
       print(f"{name} {'you have passed with the mark: '}{ mark}")
    else:
       print(f"{name} {'you have passed with the mark: '}{ mark}")

sanji you have passed with the mark: 570
zoro you have passed with the mark: 555
nami you have passed with the mark: 460

In [ ]:
try:
    products = [{"name": "Coke", "price": 60}, {"name": "Chips", "price": 50}, {"name": "biscuits", "price": 100}]

    product_list = []
    print("Enter The for each product :")

    for product in products:
        name = product["name"]
        price = product["price"]
        quantity = int(input(f"{'Enter the product quantity: '}{name} :"))
        product = {"name": name, "price": price, "quantity": quantity}
        product_list.append(product)

    total_value = 0

    for product in product_list:
        name = product["name"]
        price = product["price"]
        quantity = product["quantity"]

        if quantity == 0:
           continue

        value = price * quantity
        total_value += value

    print(f"{'The Grand value of the cart is : ₹'}{total_value}")

except ValueError:
    print("Enter A Valid Number ")

Enter The for each product :
Enter the product quantity: Coke :1
Enter the product quantity: Chips :3
Enter the product quantity: biscuits :0
The Grand value of the cart is : ₹210

In [ ]:
with open("students.txt","w") as file:
     file.write("luffy,360\n")
     file.write("zoro,560\n")
     file.write("sanji,561\n")
     file.write("ussop,459\n")
with open("students.txt","r") as file:
     list = file.readlines()
for student in list:
    student = student.strip()
    name, mark = student.split(",")
    mark = int(mark)

    if mark > 560:
       print(f"{name} {'you got A+ Grade'} {'with Mark of'} {mark}")
    elif mark > 460:
       print(f"{name} {'you got A Grade'} {'with Mark of'} {mark}")
    elif mark > 360:
       print(f"{name} {'you got B Grade'} {'with Mark of'} {mark}")
    else:
       print(f"{name} {'you have failed'}")

luffy you have failed
zoro you got A Grade with Mark of 560
sanji you got A+ Grade with Mark of 561
ussop you got B Grade with Mark of 459

In [ ]:
products = [{"name": "macbook", "price": 110000},
{"name": "Note Book", "price": 80000},
{"name": "MI Book", "price": 60000}]

product_list = sorted(products, key=lambda x: x["price"], reverse=True)
print(f"{'The most expensive laptop is :'} {product_list[0]['name']} {'price of ₹'}{product_list[0]['price']}")
print(f"{'The second most expensive laptop is :'} {product_list[1]['name']} {'price of ₹'}{product_list[1]['price']}")

The most expensive laptop is : macbook price of ₹110000
The second most expensive laptop is : Note Book price of ₹80000

In [ ]:
with open("sentences.txt","w") as file:
      file.write(" i wanna live each of seconds as happy undoubtedly")
with open("sentences.txt","r") as file:
     list = file.read()
     lower_case = list.lower()
     word_list = lower_case.split()
     vowel = {'a', 'e', 'i', 'o', 'u'}

for word in word_list:
   if word and word[0] in vowel:
      print(f"{'The words which start with the vowel ase : '}{word}")

The words which start with the vowel ase : i
The words which start with the vowel ase : each
The words which start with the vowel ase : of
The words which start with the vowel ase : as
The words which start with the vowel ase : undoubtedly

In [ ]:
try:
    with open("products.txt","w") as file:
         file.write("inverter,9000\n")
         file.write("bettary,20000\n")
         file.write("wire,1500\n")
    with open("products.txt","r") as file:
         list = file.readlines()
         user_input = input("Enter A letter :")

    for product in list:
        product = product.strip()
        name, price = product.split(",")
        price = int(price)
        if user_input.lower() == name[-1].lower():
           print(f"{name} {'price of ₹'}{price}")
           break
        else:
           print(f"{user_input} {'Does not match any product'}")
except ValueError:
    print("Enter A valid letter")

Enter A letter :Y
Y Does not match any product
bettary price of ₹20000

In [ ]:
with open("sentences.txt","w") as file:
     file.write("I am unable to access the website is it my fault or it is the website issue ")
with open("sentences.txt","r") as file:
     list = file.read()
     lower_case = list.lower()
     word_list = lower_case.split()
     word_count = Counter(word_list)
     unique_words =[word for word, count in word_count.items() if count == 1]
     print("The word is only appear in once is whole sentence are:")
     print(unique_words)

The word is only appear in once is whole sentence are:
['i', 'am', 'unable', 'to', 'access', 'my', 'fault', 'or', 'issue']

In [ ]:
with open("students.txt","w") as file:
     file.write("zoro,560\n")
     file.write("robin,555\n")
     file.write("jinbe,570\n")
     file.write("loki,490\n")
with open("students.txt","r") as file:
     list = file.readlines()
for student in list:
     student = student.strip()
     name, mark = student.split(",")
     mark = int(mark)

     if mark > 500:
        print(f"{name} {'you have passed the exam with the mark of '}{mark}")
     else:
        print(f"{name} {'you have failed the exam with the mark of '}{mark}")

zoro you have passed the exam with the mark of 560
robin you have passed the exam with the mark of 555
jinbe you have passed the exam with the mark of 570
loki you have failed the exam with the mark of 490

In [ ]:
try:
    products = [{"name": "rice", "price": 60},
    {"name": "oil", "price": 250},
    {"name": "dal", "price": 170}]
    product_list = []

    for product in products:
        name = product["name"]
        price = product["price"]
        quantity = int(input(f"{'Enter the product quantity : '}{name}:"))
        product = {"name": name, "price": price, "quantity": quantity}
        product_list.append(product)
    print("Enter the quantity for each product: ")

    total_value = 0
    for product in product_list:
        name = product["name"]
        price = product["price"]
        quantity = product["quantity"]

        if quantity == 0:
           continue

        value = price * quantity
        total_value += value

    print(f"{'The total_value of the cart is ₹'}{total_value}")
except ValueError:
    print(" Enterprises a valid input")

Enter the product quantity : rice:6
Enter the product quantity : oil:8
Enter the product quantity : dal:0
Enter the quantity for each product:
The total_value of the cart is ₹2360

In [ ]:
with open("students.txt","w") as file:
     file.write("zoro,560\n")
     file.write("robin,555\n")
     file.write("jinbe,570\n")
     file.write("loki,490\n")
     file.write("nami, 399\n")
     file.write("luffy,120\n")
with open("students.txt","r") as file:
     list = file.readlines()

for student in list:
    student = student.strip()
    name, mark = student.split(",")
    mark = int(mark)

    if mark >= 560:
       print(f"{name} {'You got A+ grade with the mark : '}{mark}")
    elif mark >= 460:
       print(f"{name} {'You got A grade with the mark : '}{mark}")
    elif mark >= 360:
       print(f"{name} {'You got B grade with the mark : '}{mark}")
    else:
       print(f"{name} {'You got F grade with the mark : '}{mark}")

zoro You got A+ grade with the mark : 560
robin You got A grade with the mark : 555
jinbe You got A+ grade with the mark : 570
loki You got A grade with the mark : 490
nami You got B grade with the mark : 399
luffy You got F grade with the mark : 120

In [ ]:
products = [{"name": "asus", "price": 120000},
{"name": "macbook", "price": 90000},
{"name": "HP", "price": 85000}]

expensive_product = max(products, key=lambda x: x["price"])
print("The most expensive product in the list is :")
print(f"- {expensive_product['name']} {'worth rupees of ₹'}{expensive_product['price']}")

The most expensive product in the list is :
- asus worth rupees of ₹120000

In [ ]:
with open("sentences.txt","w") as file:
     file.write(" I am not using an email for this work what is your opinion on that")
with open("sentences.txt","r") as file:
     list = file.read()
     lower_case = list.lower()
     word_list = lower_case.split()
     vowel = {'a', 'e', 'i', 'o', 'u'}
     unique_vowel_word = []
for word in word_list:
   if word[0] in vowel and word_list.count(word) == 1:
      unique_vowel_word.append(word)
print("The words which only starts with vowel are :")

for word in unique_vowel_word:
    print(word)

The words which only starts with vowel are :
i
am
using
an
email
is
opinion
on

In [ ]:
try:
    with open("products.txt","w") as file:
        file.write("asus,120000\n")
        file.write("Apple,90000\n")
        file.write("HP,85000\n")
    with open("products.txt","r") as file:
         lines = file.readlines()

    products = []
    for line in lines:
        line = line.strip()
        name, price = line.split(",")
        price = int(price)
        product = {"name": name, "price": price}
        products.append(product)

    user_input = input("Enter a letter")
    found_product = []

    if not user_input:
       print("Please Enter a letter:")
    else:
       search_letter = user_input[-1].lower()

       for product in products:
          if product["name"].lower().endswith(search_letter):
            found_product.append(product)

       if found_product:
          print(f"{'The product ending with '}{user_input[-1]}")
       for product in found_product:
          print(f"- {product['name']} {'worth rupees of ₹'}{product['price']}")
          break
       else:
          print(f"{'No product is found with '}{user_input[-1]}")
except ValueError:
    print("Enter a valid number ")

Enter a letterP
The product ending with P
- HP worth rupees of ₹85000

In [ ]:
with open("sentences.txt","w") as file:
    file.write("You are awesome zoro I wish I could be as awesome as you ")
with open("sentences.txt","r") as file:
    line = file.read()
    lower_case = line.lower()
    word_list = lower_case.split()

word_count = {}

for word in word_list:
   if word in word_count:
      word_count[word] += 1
   else:
      word_count[word] = 1
print(word_count)

{'you': 2, 'are': 1, 'awesome': 2, 'zoro': 1, 'i': 2, 'wish': 1, 'could': 1, 'be': 1, 'as': 2}

In [ ]:
with open("students.txt","w") as file:
     file.write("Luffy,570\n")
     file.write("zoro,490\n")
     file.write("sanji,290\n")
     file.write("nami,555\n")
with open("students.txt","r") as file:
     lines = file.readlines()

for student in lines:
     student = student.strip()
     name, mark = student.split(",")
     mark = int(mark)

     if mark > 300:
        print(f"{name} {'you passed with the mark '}{mark}")
     else:
        print(f"{name} {'you failed with the mark '}{mark}")

Luffy you passed with the mark 570
zoro you passed with the mark 490
sanji you failed with the mark 290
nami you passed with the mark 555

In [ ]:
with open("products.txt","w") as file:
     file.write("buds,4999\n")
     file.write("ram,9000\n")
     file.write("ssd,7000\n")
with open("products.txt","r") as file:
     lines = file.readlines()
for product in lines:
    product = product.strip()
    name, price = product.split(",")
    price = int(price)

    if price > 5000:
        print(f"{name} {'The product cost of ₹'}{price}")
    else:
        print(f"{name} {'The product cost less then ₹5000'}")

buds The product cost less then ₹5000
ram The product cost of ₹9000
ssd The product cost of ₹7000

In [ ]:
with open("sentences.txt","w") as file:
     file.write(" you are always wait for me zoro I like you so much with for me")
with open("sentences.txt","r") as file:
     line = file.read()
     lower_case = line.lower()
     word_list = lower_case.split()

     total_words = sum(c.isalpha() for c in word_list)
     print(total_words)

word_count = {}

for word in word_list:
    if word in word_count:
       word_count[word] += 1
    else:
       word_count[word] = 1

maximum_word = sorted(word_count, reverse=True)
print("The maximum word which is repeated uses is :")
print(f"- {maximum_word[0]}, {maximum_word[1]} and {maximum_word[2]}")

15
The maximum word which is repeated uses is :
- zoro, you and with

In [ ]:
try:
    with open("sentences.txt","w") as file:
        file.write(" You are awesome bro I love to be with you ")
    with open("sentences.txt","r") as file:
        lines = file.read()
        lower_case = lines.lower()
        word_list = lower_case.split()

    user_input = input("Enter a letter");

    for word in word_list:
        if user_input.lower() in word_list:
    print(f"{

In [ ]:
with open("students.txt","w") as file:
     file.write("luffy,570\n")
     file.write("zoro,555\n")
     file.write("nami,532\n")
     file.write("brook,399\n")
with open("students.txt","r") as file:
     lists = file.readlines()
for student in lists:
     student = student.strip()
     name, mark = student.split(",")
     mark = int(mark)

     if mark > 400:
        print(f"{name} {'you are passed with the mark of '}{mark}")
     else:
        print(f"{name} {'you are failed with the mark of '}{mark}")

luffy you are passed with the mark of 570
zoro you are passed with the mark of 555
nami you are passed with the mark of 532
brook you are failed with the mark of 399

In [ ]:
with open("products.txt","w") as file:
     file.write("watch,6000\n")
     file.write("headphone,7000\n")
     file.write("SSD card,5999\n")
     file.write("RAM,5500\n")
with open("products.txt","r") as file:
     list = file.readlines()

for product in list:
    product = product.strip()
    name, price = product.split(",")
    price = int(price)

    if price >= 5900:
       print(f"{name} {'price of ₹'} {price}")
    else:
       print(f"{name} {'The product cost less then ₹6000'}")

watch price of ₹ 6000
headphone price of ₹ 7000
SSD card price of ₹ 5999
RAM The product cost less then ₹6000

In [ ]:
try:
    with open("sentence.txt","w") as file:
         file.write(" I love onepiece too much I can do anything for onepiece and allmost everyone will accept that onepiece is greatest friction that ever written in human history")
    with open("sentence.txt","r") as file:
        line = file.read()
        lower_case = line.lower()
        word_list = lower_case.split()
        user_input = input("Enter a Letter: ")

    search_letter = user_input.lower()
    found_words = []

    for word in word_list:
       if word and word[-1].endswith(search_letter):
          found_words.append(word)

    if found_words:
       print(f"{'Words ending with'} '{user_input}' is :")
       for word in found_words:
         print(word)
    else:
       print(f"{'There are no words ended with'} {user_input}")
except ValueError:
   print("Enter a valid Letter ")

Enter a Letter: E
Words ending with 'E' is :
love
onepiece
onepiece
everyone
onepiece

# New Section

In [ ]:
with open("sentences.txt","w") as file:
     file.write(" I love onepiece too much I can do anything for onepiece and allmost everyone will accept that onepiece is greatest friction that ever written in human history")
with open("sentences.txt","r") as file:
     list = file.read()
     lower_case = list.lower()
     word_list = lower_case.split()

word_count = {}
for word in word_list:
    if word in word_count:
       word_count[word] += 1
    else:
       word_count[word] = 1

duplicate_word = []

print("The word which is used two or more times are: ")
for word, count in word_count.items():
    if count >= 2:
       print(f"{word} {'and used'} {count}")
       duplicate_word.append(word)
with open("duplicate.txt","w") as file:
     for word in duplicate_word:
         file.write(word + "\n")
with open("duplicate.txt","r") as file:
     word = file.read()
print(word)

The word which is used two or more times are:
i and used 2
onepiece and used 3
that and used 2
i
onepiece
that

In [ ]:
with open("sentence.txt","w") as file:
     file.write("I love you zoro can we be friend for forever zoro and I best friend for a long time zoro you are awesome dude")
with open("sentence.txt","r") as file:
     line = file.read()
     lower_case = line.lower()
     word_list = lower_case.split()

word_count = {}

for word in word_list:
  if word in word_count:
     word_count[word] += 1
  else:
     word_count[word] = 1
print("The most used words are : ")

most_used_word = sorted(word_count.items(), key=lambda x: x[1], reverse=True)

for word, count in most_used_word[:3]:
    print(f"- '{word}' used {count} times")

The most used words are :
- 'zoro' used 3 times
- 'i' used 2 times
- 'you' used 2 times

In [ ]:
with open("student.txt","w") as file:
     file.write("luffy,555\n")
     file.write("naruto,490\n")
     file.write("ichigo,390\n")
     file.write("goku,249\n")
with open("student.txt","r") as file:
     list = file.readlines()

for student in list:
    student = student.strip()
    name, mark = student.split(",")
    mark = int(mark)

    if mark > 550:
       print(f"{name} {'You got A+ Grade with the mark of '}{mark}")
    elif mark > 450:
       print(f"{name} {'You got A Grade with the mark of '}{mark}")
    elif mark > 350:
       print(f"{name} {'You got B Grade with the mark of '}{mark}")
    else:
       print(f"{name} {'You failed in exam you only got mark of '}{mark}")

luffy You got A+ Grade with the mark of 555
naruto You got A Grade with the mark of 490
ichigo You got B Grade with the mark of 390
goku You failed in exam you only got mark of 249

In [ ]:
def get_bonus_employees(min_salary):
    with open("employees.txt","r") as file:
         lines = file.readlines()
    print(f"{'The employee who get more than ₹'}{min_salary} are :")
    for line in lines:
        line = line.strip()
        name, salary = line.split(",")
        salary = int(salary)

        if salary > min_salary:
           print(f"- {name} with {salary}")

with open("employees.txt","w") as file:
     file.write("luffy,70000\n")
     file.write("nami,80000\n")
     file.write("robin,75000\n")
     file.write("zoro,69000\n")
     file.write("sanji,38000\n")

get_bonus_employees(69500)

with open("get_bonus_employees.txt","w") as file:
     file.write("luffy,70000\n")
     file.write("nami,80000\n")
     file.write("robin,75000\n")
with open("get_bonus_employees.txt","r") as file:
     list = file.readlines()

The employee who get more than ₹69500 are :
- luffy with 70000
- nami with 80000
- robin with 75000

In [ ]:
with open("sentences.txt","w") as file:
     file.write(" I love you so much zoro I wish we will friends forever")
with open("sentences.txt","r") as file:
     lines = file.read()
     lower_case = lines.lower()
     word_list = lower_case.split()
     long_word = [word for word in word_list if len(word) >= 4]
     print("The words which contains 4 or more letters are :")
     print(long_word)
with open("filtered_words.txt","w") as file:
     file.write("long_word")

The words which contains 4 or more letters are :
['love', 'much', 'zoro', 'wish', 'will', 'friends', 'forever']

In [ ]:
try:
    with open("products.txt","w") as file:
         file.write("mouse,1500\n")
         file.write("keywords,2800\n")
         file.write("monitor,9000\n")
         file.write("charger,3000\n")
         file.write("speaker,4000\n")
    with open("products.txt","r") as file:
         lists = file.readlines()
         user_input_min = int(input("Enter the minimum Range: "))
         user_input_max = int(input(" Enter the maximum Range: "))
    for product in lists:
        product = product.strip()
        name, price = product.split(",")
        price = int(price)

        if price in range(user_input_min, user_input_max):
           print(f"{name} worth of ₹{price}")
        else:
           print(f"{'There are no products between ₹'}{user_input_max} and ₹{user_input_min}")
except ValueError:
    print("Enter a valid number")

Enter the minimum Range: U
Enter a valid number

In [ ]:
with open("sentences.txt","w") as file:
     file.write(" I love you so much I would like to ensure that I will be here for you everytime")
with open("sentences.txt","r") as file:
     line = file.read()
     lower_case = line.lower()
     word_list = lower_case.split()

word_count = {}

for word in word_list:
   if word in word_count:
      word_count[word] += 1
   else:
      word_count[word] = 1
print("The words are :")

most_used_words = sorted(word_count.items(), key=lambda x: x[1], reverse=True)

for word, count in most_used_words:
    print(f"{'lenght-'}{len(word)} used {count} times")

with open("para.txt","w") as file:
     for line in most_used_words:
         file.write("len(word) + count")

The words are :
lenght-1 used 3 times
lenght-3 used 2 times
lenght-4 used 1 times
lenght-2 used 1 times
lenght-4 used 1 times
lenght-5 used 1 times
lenght-4 used 1 times
lenght-2 used 1 times
lenght-6 used 1 times
lenght-4 used 1 times
lenght-4 used 1 times
lenght-2 used 1 times
lenght-4 used 1 times
lenght-3 used 1 times
lenght-9 used 1 times

In [ ]:
with open("sentences.txt","w") as file:
     file.write("I love you zoro\n")
     file.write("zoro you are my best friend\n")
     file.write("zoro and I are most brave and hardworking\n")
     file.write("Do you know zoro how much I admire you\n")
     file.write("You are my best friend and you will best friend for forever\n")
with open("sentences.txt","r") as file:
      lines = file.readlines()
      lower_case_lines = [line.lower().strip() for line in lines]
      user_input = input("Enter a word: ")

      search_word = user_input.lower()

word_list = []
for sentence in lower_case_lines:
    words = sentence.split()
    word_list.extend(words)

word_count = 0
for word in word_list:
    if word == search_word:
       word_count += 1

if word_count >= 1:
   print(f"{user_input} used in {word_count} times in sentences")
else:
   print(f"{user_input} is not found in sentences ")

Enter a word: admire
admire used in 1 times in sentences